<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.kaizen.business.nb.dao.NobParamcheckMapper">
  <resultMap id="BaseResultMap" type="com.boot.kaizen.business.nb.model.NobParamcheck">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userId" />
    <result column="testDate" jdbcType="VARCHAR" property="testDate" />
    <result column="station_No" jdbcType="VARCHAR" property="station_No" />
    <result column="communityName" jdbcType="VARCHAR" property="communityName" />
    <result column="cellId" jdbcType="VARCHAR" property="cellId" />
    <result column="pci" jdbcType="VARCHAR" property="pci" />
    <result column="frequency" jdbcType="VARCHAR" property="frequency" />
    <result column="projId" jdbcType="INTEGER" property="projId" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  
  
  <sql id="Base_Column_List">
    id, userId, testDate, station_No, communityName, cellId, pci, frequency, projId, 
    createTime
  </sql>
  
  
  
  
  
  <select id="find" resultMap="BaseResultMap">
		select 
	    <include refid="Base_Column_List" />
	    from t_nb_paramcheck
		where 1=1 
		  
		<if test="map.projId != null and map.projId != ''">
            and projId = #{map.projId}
        </if>
        
		<if test="map.nodebid != null and map.nodebid != ''">
            and station_No = #{map.nodebid}
        </if>
        
		 order by createTime desc
	</select>
  
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_nb_paramcheck
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_nb_paramcheck
    where id = #{id,jdbcType=VARCHAR}
  </delete>
 
 
 
 
  <insert id="insertSelective" parameterType="com.boot.kaizen.business.nb.model.NobParamcheck">
    insert into t_nb_paramcheck
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="testDate != null">
        testDate,
      </if>
      <if test="station_No != null">
        station_No,
      </if>
      <if test="communityName != null">
        communityName,
      </if>
      <if test="cellId != null">
        cellId,
      </if>
      <if test="pci != null">
        pci,
      </if>
      <if test="frequency != null">
        frequency,
      </if>
      <if test="projId != null">
        projId,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="testDate != null">
        #{testDate,jdbcType=VARCHAR},
      </if>
      <if test="station_No != null">
        #{station_No,jdbcType=VARCHAR},
      </if>
      <if test="communityName != null">
        #{communityName,jdbcType=VARCHAR},
      </if>
      <if test="cellId != null">
        #{cellId,jdbcType=VARCHAR},
      </if>
      <if test="pci != null">
        #{pci,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="projId != null">
        #{projId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.boot.kaizen.business.nb.model.NobParamcheck">
    update t_nb_paramcheck
    <set>
      <if test="userId != null">
        userId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="testDate != null">
        testDate = #{testDate,jdbcType=VARCHAR},
      </if>
      <if test="station_No != null">
        station_No = #{station_No,jdbcType=VARCHAR},
      </if>
      <if test="communityName != null">
        communityName = #{communityName,jdbcType=VARCHAR},
      </if>
      <if test="cellId != null">
        cellId = #{cellId,jdbcType=VARCHAR},
      </if>
      <if test="pci != null">
        pci = #{pci,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        frequency = #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="projId != null">
        projId = #{projId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>



</mapper>